
:root {
    --gray: #27282d;
    --medium-gray: lighten(#27282d, 25%);
    --light-gray: lighten(#27282d, 65%);
    --gradient: linear-gradient(140deg, rgb(129, 60, 133) 0%, rgb(35, 118, 183) 100%);
}

@font-face {
    font-family: 'font01';
    src: url(~../JeromeComponents/img/Advertisement.ttf);
}

.login {
    transition: all .6s ;
}
img {
    transition: all 1s ;
}

#allA {
    margin-top: 76px;
    z-index: -1;
    height: 90vh;
    display: flex;
    overflow: hidden;
    background-image: url(~../imgs/2.jpg);
}

#all {
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, transparent, white 35%);
    transition: all 1.5s ;
    opacity: 1;
    width: 100vw;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.list-group-item {
    border-top  : none;
    border-left: none;
    border-right: none ;
    background: transparent;
}

.icon {
    width: 50px;
    padding: 5px;
    color: var(--medium-gray);
    position: relative;
}
  

#icon1 {
    transform: translate(-50%,0);
    width: 30px;
    height: auto;
}

#fgF {
    background: transparent;
}

#bti {
    background: transparent;
    float: left;
    margin: 0%;
    box-shadow:none;
    border: none;
}
#btj {
    transform: translate(0,-50%);
    margin-top: 50%;
    width: 200px;
    width: auto;
    margin-top: 0%;
    box-shadow:none;
}

#buts {
    width: 350px;
}

#left-arrow {
    width: 10px;
    border: none;
    background-color: transparent;
}

.loginA {
    letter-spacing: 1.3px;
    font-family: 'font01', sans-serif;
    background: transparent;
    height: 75vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;
}

.login {
    letter-spacing: 1.3px;
    font-family: 'font01', sans-serif;
    transform: translate(-50%, 0);
    background: transparent;
    height: 75vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.input {
    width: 14vw;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--medium-gray);
    color: var(--light-gray);
    padding: 12px 0px 12px 0px;
    font-size: 20px;
    outline: none;
    caret-color: rgb(129, 60, 133);
}
 
  
.input:focus {
    border-bottom: 2px solid transparent;
    border-image: var(--gradient);
    border-image-slice: 1;
}

.input:focus + img {
    color: var(--light-gray);
}
  
  
::placeholder {
    color: var(--light-gray);
    opacity: .4;
}

.button {
    width: 200px;
    background: transparent;
    border: none;
    border-radius: 10px; 
    color: var(--light-gray);
    font-size: 20px;
    padding: 16px 25px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    margin-bottom: -30px;
    box-shadow: 0px 4px 15px -5px rgba(0,0,0,0.65);
}

.buttonL {
    background: transparent;
    border: none;
    color: var(--light-gray);
    font-size: 20px;
    padding: 16px 36px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: -30px;
    transition: all 1s;
}
  
.button:hover {
    // background: lighten(var(--gray), 10%);
    box-shadow: 0px 5px 20px -3px rgba(0,0,0,0.65);
}

.buttonL:hover {
    color: rgb(229, 91, 141);
}
 

@media screen and (max-width: 620px) {
    .input-login {
        width: 80%;
        margin-bottom: 40px;
    }
    
    .button {
        margin-top: 10px;
        margin-bottom: -20px;
    }
}
  
 